.faces-show {
  .wrapper {
    margin: 60px auto;
    .show-face {
      line-height: 1.5;
      margin: 10px auto;
      .faces-img {
        height: 300px;
        margin: auto auto 30px auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .show-face-details-2 {
        form {
          display: inline-block;
        }
      }
    }
    .comments {
      .display-comments {
        padding: 30px 0;
        ul {
          display: block;
          width: 100%;
          margin: 20px auto 10px auto;
        }
          li {
            margin: 10px auto;
          }
          button {
            margin: 5px auto;
          }
      }
      .leave-comment {
        padding: 30px auto;
        form {
          max-width: 100%;
          textarea {
            display: block;
            width: 100%;
            margin: 30px auto 10px auto;
          }
          button {
            display: block;
          }
        }
      }
    }
  }
}
