.footer {
  background-image: url('/images/bottom.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 14px;
  line-height: 150px;
  text-align: right;
  padding: 5px;
  clear: both;
}



// </div>
// <div class="row">
//     <div class"bottom"><img src="/images/bottom.png" alt="Faces" class="col-lg-12 col-md-12"></div>
// </div>
