//register

form {
  max-width: 300px;
  margin: auto;
}

.register {
  // width: 300px;
  align-items: center;
}

.new {
  align-items: center;
}

.edit {
  align-items: center;
}

.login {
  // width: 300px;
  align-items: center;
}

.home-login-form {
  padding: 30px;
}

// .edit-form {
//   max-width: 300px;
//   margin: auto;
// }
