form {
  max-width: 300px;
  margin: auto;
  .form-button {
    margin: 20px auto;
    text-align: center;
  }
}

.login {
  align-items: center;
}

.home-login-form {
  padding: 30px;
}

.new-form {
  align-items: center;
  margin: 20px auto;
}

.edit-form {
  align-items: center;
  margin: 20px auto;
}

.register-form {
  align-items: center;
  margin: 30px auto;
}
