body {
  background: lighten($color-grey, 90%);
}

//FACE MAIN PAGE

.hearts {
  color: $color-pink;
}

.card {
  margin: 10px 0;
}

// .rating {
//   float:left;
// }
//
// .added {
//   float: right;
// }
