.home {
  line-height: 1.5;
  .title {
    text-align: center;
    color: darken($color-grey, 40%)
  }
  .sub-title {
    text-align: center;
    color: darken($color-turquoise, 20%)
  }
  .title-description {
    text-align: center;
    color: darken($color-grey, 10%)
  }
  .description {
    color: darken($color-grey, 40%);
  }
  .p1{
    background-color: lighten($color-pink, 50%);
    // padding: 10px 30px;
  }
}

.home-login-form {
  background-color: lighten($color-turquoise, 30%);
  // padding: 50px 30px;
  line-height: 1.5;
}

.home-login {
  background-color: grey;
}



li {
  list-style: none;
}
