.home {
  line-height: 1.5;
  .title {
    text-align: center;
    color: darken($color-grey, 40%)
  }
  .sub-title {
    text-align: center;
    color: darken($color-turquoise, 20%)
  }
  .title-description {
    text-align: center;
    color: darken($color-grey, 10%)
  }
  .description {
    color: darken($color-grey, 40%);
  }
  .p1{
    background-color: lighten($color-pink, 50%);
    padding: 10px 30px;
  }
  .p2 {
    background-color: lighten($color-pink, 20%);
    padding: 20px 40px;
    text-align: center;
  }
}

.home-login {
  background-color: pink;
}

.home-pics {
}


li {
  list-style: none;
}
