.navbar {
  // background-color: darken($color-turquoise, 20%);
  background-color: $color-blue;
    a.nav-item {
      color: darken($color-grey, 40%);
    }
    a.nav-item:hover {
      color: white;
    }
    .brand {
      color: white;
    }
    .nav-item {
      align-items: center;
    }
}

// .navbar-toggler-icon {
//   background-color: $color-grey;
// }
//
// .navbar-toggler:hover: { background-color: : orange;
// }
