.navbar {
  background-color: $color-blue;
  // background-color: none;
    a.nav-item {
      color: darken($color-grey, 40%);
    }
    a.nav-item:hover {
      color: white;
    }
    .brand {
      color: white;
    }
    .nav-item {
      align-items: center;
    }
}
