// 'Annie Use Your Telescope', cursive;}
// 'Abril Fatface', cursive;}
// 'Roboto Mono', monospace;}
// 'Lora', serif;

h1 {
  font-family: 'Annie Use Your Telescope', cursive;
  color: darken($color-pink, 10%)
}

h2 {
  font-family: 'Abril Fatface', cursive;
  color: $color-turquoise;
  font-size: 20px;
}

h3 { font-family: 'Lora', serif;
    font-size: 50px;
}

h4 { font-family: 'Lora', serif;
  font-size: 24px;
}

h5 {
  font-family: 'Lora', serif;
  font-size: 18px;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
  color: $color-grey;
}


//homepage

.description {
  font-family: 'Roboto Mono', monospace;
}


// faces main page
.pre {
  font-family: 'Roboto Mono', monospace;
  color: darken($color-grey, 10%)
}

a.nav-item {
  font-family: 'Roboto Mono', monospace;
}
