<main class="container-fluid">
  <div class="row">

    <div class="home col-lg-8 col-md-8">
      <li class= "logo"><img src="images/Moustache.png" alt="faces in places"></li>
      <li class="p1 title"><h3>pareidolia</h3></li>
      <li class="p1 sub-title"><h4> <i>noun</i>  par·ei·do·lia</h4></li>
      <li class="p1 title-description"><h5>The tendency to perceive a specific, often meaningful image in a random or ambiguous visual pattern.</h5></li>


    </div>

    <div class="home-login col-lg-4 col-md-4">

      <div class="home-login-form"><% include ./sessions/new %>
      <p class="small">Not a member? No problem, sign up <a href= '/register'>here</a></p>
      </div>
    </div>

</main>
