<main>
  <div class="row">

    <div class="home col-lg-8 col-md-7">
      <li class="p1 title"><h3>pareidolia</h3></li>
      <li class="p1 sub-title"><h4> <i>noun</i>  par·ei·do·lia</h4></li>
      <li class="p1 title-description"><h5>the tendency to perceive a specific, often meaningful image in a random or ambiguous visual pattern.</h5></li>

      <li class="p2 description">Simply put - faces in places!
      The human brain is optimized to recognize faces, which could also explain why we are so good at picking out meaningful shapes in random patterns.

      This online community celebrates the joy that can be found in everyday objects and the magic it can bring.</li>


      <section>

      </section>






    </div>

    <div class="home-login col-lg-4 col-md-5">
      <h1>I AM THE HOME LOGGING IN SECTION</h1>





    </div>
  </div>
  <div class="row">
    <div class="home-pics col-lg-12">
      <img src="/images/bottom.png" alt="Faces">
    </div>
  </div>

</main>
