<main>
  <div class="row">

    <div class="home col-lg-8 col-md-7">
      <li class="p1 title"><h3>pareidolia</h3></li>
      <li class="p1 sub-title"><h4> <i>noun</i>  par·ei·do·lia</h4></li>
      <li class="p1 title-description"><h5>the tendency to perceive a specific, often meaningful image in a random or ambiguous visual pattern.</h5></li>

      <li class="p2 description">
      The human brain is optimized to recognize faces, which could explain why we are so good at spotting faces in places. This online community celebrates the joy that this simple pleasure can bring.</li>


      <section>

      </section>

    </div>

    <div class="home-login col-lg-4 col-md-5">

      <div class="home-login-form"><% include ./sessions/new %>
      <p>Not a member? No problem, sign up <a href= '/register'>here</a></p>
      </div>  
    </div>

  </div>
  <div class="row">
      <img src="/images/bottom.png" alt="Faces" class="home-pics col-lg-12 col-md-12">
  </div>

</main>
