<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>Faces In Places</title>
  <% include ./partials/_stylesheets %>
  <% include ./partials/_scripts %>
</head>


<body>
  <% include ./partials/_nav %>
  <% for (const type in messages) { %>
    <p class="alert alert-<%= type %>"><%= messages[type] %></p>
  <% } %>
    <%- body %>
  <% include ./partials/_footer %>
</body>
</html>
