<main class="container-fluid">
  <div class="row">
    <div class="error col-lg-12 col-md-12">
      <li><img src="/images/error.png" alt="faces in places"></li>
      <li><h3>OOPS!</h3></li>
      <li><h4>We can't find what you're looking for...</h4></li>
      <li><h5><a href='/'>click back here</a></h5></li>
    </div>
  </div>
</main>
