<h1>New Face</h1>

<form method="POST" action="/faces">
  <div>
    <label for="image">Image url</label>
    <input type="text" name="image" id="image" required>
  </div>

  <div>
    <label for="title">Title</label>
    <input type="text" name="title" id="title" required>
  </div>

  <div>
    <label for="location">Location</label>
    <input type="text" name="location" id="location" required>
  </div>

  <div>
    <label for="rating">Joy Rating</label>
    <input type="number" name="rating" id="rating" min="1" max="5" required>
  </div>

  <button class="button">Add</button>
</form>
